.product-container{
    display: block;
    flex-grow: 1;
    margin: 1rem;
}

.product-wrapper .heading-3{
    text-align: center;
    font-size: var(--heading-2);
    font-weight: bold;
    line-height: var(--line-height-1);
}

.product-wrapper{
    margin: auto;
    max-width: 80%;
}

.product-menu{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
}