:root{
    --text-grey: #2e2e2e;
}

.product-container{
    display: grid;
    grid-template-columns: 19rem 1fr;
}

.product-sidebar {
    border-right: 1px solid var(--secondary-color);
}

.product-sidebar, .product-wrapper {
    padding: 1rem 0;
    overflow-y: auto;
}

.product-sidebar .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-container, .title {
    padding: 0.75rem 2rem;
}

.filter-container .filter-title{
    font-size: var(--heading-3);
}

.filter-container .filter-value {
    padding: 0.5rem 0;
    font-size: var(--heading-4);
    color: var(--secondary-color);
}

.filter-price{
    display: flex;
    justify-content: space-between;
}

.filter-price + input {
    width: 100%;
}

.filter-category > *, .filter-rating > *, .filter-sort > * {
    display: block;
    padding: 0.25rem;
}

.product-wrapper{
    padding: 1rem 2rem;
}

.product-sidebar .heading-3, .product-wrapper .heading-3 {
    font-size: var(--heading-3);
    font-weight: bold;
}

.products-menu{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 1rem;
}

.card-component{
    height: max-content;
    position: static;
    max-width: 22rem;
    height: max-content;
}

.card-container {
    border: 1px solid var(--primary-color);
    background-color: inherit;
    box-shadow:  2px 2px 5px 3px var(--off-white);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    max-width: 22rem;
    margin: 1rem;
    height: max-content;
    border-radius: 4px;
}

.products-menu > * {
    margin: 8px auto;
}

.products-menu .card-component{
    position: relative;
    width: 23vw;
    box-shadow: 3px 3px 6px var(--black);
}

.products-menu .card-component .card-badge{
    position: absolute;
    right: 8px;
    top: 8px;
    border: none;
    background: none;
    margin-top: 0;
    width: 1.5rem;
}

.products-menu .card-heading, .products-menu .discount, .products-menu .product-price{
    padding: 8px 8px 0 8px ;
}

.products-menu .card-content{
    padding: 0;
}

.products-menu .UI-Interaction{
    padding: 0.75rem;
}

.products-menu .UI-Interaction .card-buttons{
    width: 100%;
    padding: 8px;
    font-size: 1.05rem;
    margin-top: 8px;
}

.card-img {
    border-radius: 4px;
    width: 100%;
    height: auto;
}

.product-price {
    display: flex;
    align-items: flex-end;
}

.card-content .price {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-content .previous-price {
    font-size: 1rem;
    padding-left: 1rem;
    color: var(--text-grey);
    text-decoration: line-through;
}

.card-content .discount {
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--success-color);
}
